{% extends "app/layout.html" %}

{% block content %}

<h2><b>{{ title }}</b></h2>
<p style = "margin-top: 0.4cm">{{ message }}</p>
<p style = "margin-top: 0.1cm">
    This website uses python-django-visualstudio framework as its default template. 
    Precise figures, such as pitch range, come from <a href = "https://musescore.org">MuseScore</a> software.
</p>

<h4 style = "margin-top: 0.7cm"><b>Meet the Developer:</b></h4>
<p style = "margin-top: 0.4cm">
    I'm Howard C., an undergraduate student in Peking University, Yuanpei College. 
    Though majoring in physics, I've been studying orchestration for over a year.
</p>
<p style = "margin-top: 0.1cm">
    <a href = "https://musescore.com/howard_c_">Here</a> is my MuseScore account, 
    I put all my compositions/arrangements/transcriptions there.
</p>
<p style = "margin-top: 0.1cm">
    The first time I tried creating scores was back in the summer of 2017, 
    when I wrote some songs and transcribed other ones written by my high school mates. 
    But at that time I didn't even know how music composition works systematically, 
    therefore my productions in that period are immature and ludicrous.
</p>
<p style = "margin-top: 0.1cm">
    It was in the summer of 2018 that I finished my entrance test to college, 
    therefore finally having time to learn (from scratch) and practice writing for an orchestra. 
    The first major work is an <a href = "https://musescore.com/howard_c_/two_steps_from_hell_blackheart">arrangement</a> of Two Steps From Hell's <i>Blackheart</i>, 
    I didn't complete it all by myself, but rather, found an <a href = "https://musescore.com/user/2544941/scores/3482551">existing version</a> and improved it. 
    However, it only helped me to know what kind of brass and string instruments exist, and the timbres they produce. 
    If there's anything more, it's the most basic rules and tricks of writing modern classical music.
</p>
<p style = "margin-top: 0.1cm">
    I created my own modern classical compositions later. The <a href = "https://musescore.com/howard_c_/memorization">first</a> is dedicated to my high school (No.8 HS of Beijing), 
    and the <a href = "https://musescore.com/howard_c_/start_over">second</a> represents my feeling of entering college. 
    They're actually not bad upon first listening, the emotional or epic style was exactly what I wanted.
    But they didn't demonstrate much composition skills, or to be exact, I really didn't have any back then. 
    I constructed almost the entire piece out of two boring rules: subject and a parallel third below; first brass, then string, then tutti with choir. 
    And I believed this was the ultimate essence of writing chord and orchestrating.
</p>
<p style = "margin-top: 0.1cm">
    During that summer I re-gained my interests of (real) classical music through the most famous symphony: Beethoven's Symphony No.5. 
    I listened again and again, consulted all sorts of documentation, only to find the work more and more charming. 
    I didn't know much about sonata/scherzo from, or all sorts of music theory thing; what I admired most was the intimate relationship between motifs and between movements. 
    It was at that time that I was completely fascinated by large compositions, both in length and in instrumentation. 
    I realized how exquisite instruments can be used to present musical and emotional development.
</p>
<p style = "margin-top: 0.1cm">
    This marks the beginning of the period of frenzily composing. I'm mostly proud of two four-movement suites I've completed: 
    <a href = "https://musescore.com/user/28264345/sets/5098809">Start Over</a> (written for saxophones and symphony orchestra) and <a href = "https://musescore.com/user/28264345/sets/5098346">Mixed Quintet No.1: Ode to Freedom</a> (written for, of course, mixed quintet, but because instruments vary in different movements, there're totally seven instruments). 
    One of my compositions, <a href = "https://musescore.com/howard_c_/ringtone_rhapsody">Ringtone Rhapsody</a>, 
    has won the champion of 1st composition contest in Peking University.
</p>
<p style = "margin-top: 0.1cm">
    I've also started to <a href = "https://musescore.com/user/28264345/sets/5099633">transcribe and arrange</a> some masterwork in the classical and romantic period. 
    Currently I'm doing the <a href = "https://musescore.com/user/28264345/sets/5099309">string arrangement</a> of Mussorgsky's <i>Pictures at an Exhibition</i>, which hopefully can be used for subsequent performances. 
    I'm not sure if I will continue to do the <a href = "https://musescore.com/user/28264345/sets/5099656">orchestral arrangement</a> of Tchaikovsky's <i>The Seasons</i>. 
</p>

{% endblock %}